<h1><%=@activity.name %></h1>

<h2>Category: <%=@activity.category.name%>  <br>
<h3>Address: <%=@activity.address%>, <%=@activity.city%>, <%=@activity.state%> <%=@activity.zipcode%></h3>
<p>Description: <%=@activity.description%></p>
