<h1><%=@activity.name %></h1>

<h2>Category: <%=@activity.category.name%>  <br>
<h3>Address: <%=@activity.address%>, <%=@activity.city%>, <%=@activity.state%> <%=@activity.zipcode%></h3>
<p>Description: <%=@activity.description%></p>

<h2>Average Rating (out of 5): <%=@activity.comments.average(:rating)%> </h2>

<h2>Comments:</h2>
  <% @activity.comments.last_three.each do |comment| %>
  <%= link_to comment.title, comment_path(comment) %> <p> By: <%= link_to comment.user.username, user_path(comment.user)%><br><br>
  <%end%>

<h2><%=link_to "See All Comments for #{@activity.name}", activity_comments_path(@activity)%></h2>

<h2><%= link_to "Add a Comment", new_activity_comment_path(@activity) %>
  <br><br>

<%if @activity.user == current_user %>
  <%= link_to "Edit Activity", edit_activity_path(@activity)%>
<%end%>
